meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Recomendaciones de alimentación saludable.
meta(meta name="description" content="Los contenidos desarrollados en el presente componente formativo permiten acercarse a los principios de una alimentación saludable, reconociendo la importancia del consumo adecuado de vitaminas y minerales en la dieta diaria, enfatizando en las guías alimentarias para la población colombiana, las cuales tienen como objetivo orientar a familias en la adopción de estilos de vida y prácticas de alimentación saludables, culturalmente apropiadas, que contribuyan a la prevención de la malnutrición y enfermedades no transmisibles en mujeres gestantes, madres en periodo de lactancia y niños y niñas menores de 2 años.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")