h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 230101239-02]. Fomentar la alimentación saludable en la primera infancia, mujeres gestantes y madres lactantes según guías alimentarias basadas en alimentos para la población colombiana.






