.container

    .header-ecored
        h1 1. Nutrición por curso de vida


    .card
        
        .card-body.p-5

            p Bienvenido a este primer tema de nutrición por curso de vida. Para iniciar daremos respuesta algunas preguntas para ir conociendo algunos conceptos clave: 

            .row.justify-content-center.align-items-center
                .col-12.col-md-8
                    
                    h3.my-4 1.	¿Cuál es el enfoque por curso de vida? 

                    p.mt-4 Considera la salud y la nutrición como un proceso dinámico que necesita intervenciones que van más allá de las orientadas para enfermedades específicas o problemas de salud y malnutrición de un determinado grupo de edad.

                    h3.my-4 2.	¿Qué tiene en cuenta el curso de vida?

                    p.mt-4 Los momentos continuos de la vida y los resultados en salud  nutricional de un individuo, los cuales dependen de la interacción de diferentes factores relacionados con experiencias acumulativas, situaciones influenciadas por el contexto familiar, social, económico, ambiental, cultural y de la exposición a riesgos físicos o sociales durante la gestación, infancia, adolescencia, juventud y vida adulta.


                    h3.my-4 3.	¿Cómo asume el enfoque del curso de vida?

                    p.mt-4 Por lo tanto, el enfoque del curso de vida asume el desarrollo de una persona como un proceso durante toda la vida y que tiene incidencia en cada uno de los individuos y en su familia.

                .col-12.col-md-4
                    img(src='assets/images/pages/tema-1/comidasaludable.svg').img-fluid


            hr.my-5

            p.mt-4 Para profundizar sobre el concepto de curso de vida y la diferencia con ciclo de vida se puede visitar la web del Ministerio de Salud y Protección Social y revisar los documentos de la Organización Mundial de la Salud (OMS), Organización Panamericana de la Salud (OPS) o el documento ABECÉ curso de vida que se relaciona a continuación:

            section.my-5

                a(href="media/documentos/Anexo1_ABCenfoqueCV.pdf" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. ABECÉ Enfoque de Curso de Vida

 

            p.mt-4 Se consideran los siguientes grupos de edad dentro del curso de vida y para los cuales el país reporta los resultados de situación nutricional: 

            p.text-center.my-5
                img(src="assets/images/pages/tema-1/tema-1-p3.png")        


            p.mt-4 En el presente componente se centra en dos grupos de edad dentro del curso de vida, por la importancia que tienen en el patrón nutricional para todo el proceso de desarrollo y crecimiento, como son: la primera infancia y la mujer gestante. Estos dos grupos dentro del curso de vida incluyen los niños y las niñas en sus primeros 1000 días que van desde la gestación 270 días y hasta los 2 años 730 días. (OPS-OMS, 2017)       


            h2.my-5 1.1 Importancia de la nutrición en la primera infancia y la gestación               

            p.mt-4 En los #[strong primeros 1000 días de vida], la salud y la nutrición son la clave esencial para una futura vida sana. Este grupo de población dentro del curso de vida es vulnerable a desequilibrios e insuficiencias dietéticas y nutricionales.

            p.text-center.my-5
                img(src="assets/images/pages/tema-1/tema-11.png")     


            .row.mt-5.align-items-center
                .col-8
                    p Está comprobado por diferentes evidencias científicas de los efectos positivos en las intervenciones tempranas, a través de la promoción de la lactancia materna exclusiva en los primeros seis meses de vida y continuada hasta los dos años, la alimentación complementaria apropiada, la vacunación, las interacciones y el vínculo afectivo con los padres y cuidadores/as y prevención de enfermedades agudas de la infancia. (MINSALUD, 2013) [P5]

                    p.mt-4 En los primeros 3 años de vida del niño o niña se forma el 80% del cerebro por lo tanto cada comida que se brinda ayuda a mejorar el proceso. En este grupo de edad el desarrollo físico, emocional y social tienen impacto directo en su progreso actual o la vida futura como adulto. Con una nutrición y alimentación saludable se evitan los problemas de malnutrición por déficit o exceso y posibles enfermedades crónicas en el futuro. 

                .col-4
                    img(src="assets/images/pages/tema-1/tema-11-2.jpg").img-fluid


            h2.mt-5 1.2.	Importancia de la nutrición en la gestación


            p Antes de la gestación, el estado nutricional de la futura madre es importante para el futuro de los niños y niñas. Las madres que padecen desnutrición crónica son más propensas a tener hijos con bajo peso al nacer y pueden tener un crecimiento deficiente en la niñez y al llegar a la edad de procrear, dar a luz hijos desnutridos. Las mujeres mayores de 18 años que se encuentran en buen estado nutricional tienen muchas más probabilidades de sobrevivir el embarazo y de tener hijos e hijas que crezcan sanos. (UNICEF, s.f)

            p.mt-4 La alimentación durante la etapa de gestación es uno de los factores que determinan el buen estado de salud y nutrición de los niños y niñas en la vida adulta. La situación de nutrición de la mujer gestante determina un retraso en el crecimiento intrauterino, bajo peso al nacer y morbimortalidad neonatal materna durante el parto generando complicaciones durante el mismo.
